In [ ]:
# Python 3.6 Basics (Michelle S)
# Tip: Use '#' to create comments
# Reference: https://docs.python.org/3/tutorial/index.html
#            http://www.stackoverflow.com

In [1]:
# To run code in a python notebook, highlight the cell and press Shift + Enter keys together

1+4

5

In [2]:
7*8

56

In [3]:
# Declaring variables

x = 1
y = 4

In [4]:
# Print() to display the value of a variable or expression in the notebook
# Note: In python 3.6 remember to use parentheses ()
print(x)
print(x+y)

1
5

In [ ]:
# Tip: To keep track of your variables, give them descriptive names instead of just x and y

In [5]:
# String

string_example = "Hello there"
print(string_example)

Hello there

In [6]:
# Len() function to determine length of a string, i.e. number of characters

string_example_length = len(string_example)
print(string_example_length)

11

In [8]:
# Index on a string
# Since strings are ordered and sequential, can access elements of a string using an index
# Note: Python starts counting at zero so to refer to the seventh character, "t", use index 6 

print("The first letter is " + string_example[0])
print("The seventh letter is " + string_example[6])

The first letter is H
The seventh letter is t

In [9]:
# Can refer to a section of the string
print("The second word is " + string_example[6:11])

The second word is there

In [10]:
print(z)

NameError: name 'z' is not defined

In [11]:
# Type() function to check the type of a variable
# Data types: https://docs.python.org/3/library/datatypes.html

type(string_example)

str

In [12]:
# Integers
integer_example_a = 0
integer_example_b = 1
integer_example_c = 2

sum_example = integer_example_b + integer_example_c
print(sum_example)

3

In [13]:
type(integer_example_b)

int

In [ ]:
# Boolean
# https://docs.python.org/3/library/stdtypes.html#boolean-operations-and-or-not
# Use == to determine if one side of the expression is equal to the other

In [ ]:
# And
# Both sides need to be true to make the expression true

In [14]:
# True since both expressions are true
integer_example_a == 0 and integer_example_b == 1

True

In [15]:
# One side is false, so this expression returns false
integer_example_a == 0 and integer_example_b > 6

False

In [16]:
# Or
# Just one side need to be true to make the expression true 
# One side is false, but this expression returns false since 'or' is used 

integer_example_a == 0 or integer_example_b > 6

True

In [ ]:
# In python, everything has a boolean value
# Zero or nothing = False 
# Non-zero or something = True
# Use bool() function to determine the boolean value

In [17]:
# False since integer_example_a is zero
boolean_value_a = bool(integer_example_a)
print(boolean_value_a)

False

In [18]:
# True since integer_example_b = 1
boolean_value_b = bool(integer_example_b) 
print(boolean_value_b)

True

In [ ]:
# Lists
# Compound data type used to group together other values
# Comma-separated items between square brackets []
# Mutable (contents can be modified)
# Reference: https://docs.python.org/3/tutorial/introduction.html#lists

In [19]:
# List example

list_boroughs=['Manhattan','Brooklyn','Queens','Bronx','Staten Island']

In [20]:
# # Len() to determine length of a list, i.e. number of items

length_of_boroughs = len(list_boroughs)
print(length_of_boroughs)

5

In [21]:
# Index on a list
# Since lists are ordered, sequential can access to elements of a list using an index
# Note: python starts counting at zero so to refer to the fourth item, Bronx, use index 3 

print("The first item in the boroughs list is " + list_boroughs[0])
print("The fourth item in the boroughs list is " + list_boroughs[3])

The first item in the boroughs list is Manhattan
The fourth item in the boroughs list is Bronx

In [22]:
# Range() function
# Creates arithmetic progressions with three arguments: start, end, increments 
# Can save output to a list

range_example = list(range(0, 10))
print(range_example)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
range_example_2 = list(range(0, 100, 25))
print(range_example_2)

[0, 25, 50, 75]

In [24]:
list_numbers = [1,2,3,4]
print(list_numbers)

[1, 2, 3, 4]

In [25]:
# Append function for a list
# Add an item to the end of the list
# Reference: https://docs.python.org/3/tutorial/datastructures.html

list_numbers.append(5)
print(list_numbers)

[1, 2, 3, 4, 5]

In [26]:
# Remove function for a list
# Remove the first item from the list whose value is x

list_numbers.remove(5)
print(list_numbers)

[1, 2, 3, 4]

In [27]:
# Reverse function for a list
# Reverse the elements of the list in place

list_numbers.reverse()
print(list_numbers)

[4, 3, 2, 1]

In [28]:
# Sort function for a list
# Sort the items of the list in place

list_numbers.sort()
print(list_numbers)

[1, 2, 3, 4]

In [29]:
# Index can also be used to assign values to a list

list_numbers[3] = 5
print(list_numbers)

[1, 2, 3, 5]

In [30]:
list_numbers[1]

2

In [31]:
# Can refer to certain items in a list

print(list_numbers[0:2])

[1, 2]

In [32]:
# Nested lists - a list can be made up of lists

list_nested = []
list_nested = [['circle','square', 'triangle'], ['red','yellow','blue']]
print(list_nested[0])

['circle', 'square', 'triangle']

In [33]:
# Can use indices to refer to the second item in the first list
print(list_nested[0][1])

square

In [34]:
# Dictionaries
# Dictionaries are unordered.  They have unique key: value pairs and retrieval through lookups
# Reference: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

dict_face = {'Hair': 'Brown', 'Eyes': 'Blue'}

print(dict_face['Eyes'])

Blue

In [ ]:
# Note: Indents are important in python, they help to group together blocks of code

In [35]:
# If
# Reference: https://docs.python.org/3/tutorial/controlflow.html
# 
# if (condition 1):
#   do something if condition 1 = true
# elif (condition 2):
#   do something else if condition 2 = true
# else:
#   do stuff if neither condition 1 nor condition 2 = true
 
height_kid_1 = 3
minimum_height = 4

if (height_kid_1 > minimum_height):
   print('Welcome to the ride!') 
else:
   print('Sorry, must be over 4 feet tall to board this ride')

Sorry, must be over 4 feet tall to board this ride

In [37]:
# For loop
# Note: 'thing' can be replaced by another word

for whatever in list_boroughs:
    print(whatever)

Manhattan
Brooklyn
Queens
Bronx
Staten Island

In [38]:
# For loop using range and length

for thing in range(0,len(list_boroughs)):
    print(list_boroughs[thing])

Manhattan
Brooklyn
Queens
Bronx
Staten Island

In [39]:
# While loops

x = 0
while x < len(list_boroughs):
    print(list_boroughs[x])
    x = x+1

Manhattan
Brooklyn
Queens
Bronx
Staten Island

In [42]:
# Functions
# Allow for reuable code

def multiply_function_random_name(x, y):
    return x*y

print('5 x 8 =', multiply_function_random_name(7, 9))

5 x 8 = 63

In [ ]:
# Import python libraries
# Reference: https://docs.python.org/3/library/index.html

In [44]:
# Datetime python library handles time
import datetime as dt
important_date = dt.date(2010,1,10)
important_time = dt.time(11,30,45)
print(important_date,important_time)

2010-01-10 11:30:45

In [43]:
# Math library provides mathematics functions

import math
print(math.sqrt(64))

8.0

In [ ]:
# Dataframes
# Dataframes help you analyze large amounts of data
# Pandas http://pandas.pydata.org

In [45]:
import pandas as pd

df_list_1 = ['patient 1','F',30]
df_list_2 = ['patient 2','M',28]
df_list_3 = ['patient 3','F',35]
df_list_4 = ['patient 4','F',38]
df_list_5 = ['patient 5','M',31]

patient_df = pd.DataFrame([df_list_1,df_list_2,df_list_3,df_list_4,df_list_5],columns=['Name','Gender','Age'])
patient_df

        Name Gender  Age
0  patient 1      F   30
1  patient 2      M   28
2  patient 3      F   35
3  patient 4      F   38
4  patient 5      M   31

In [ ]:
# NumPy http://www.numpy.org

import numpy as np
np.mean(patient_df['Age'])

In [ ]:
# Descrbe() provides a summary of key statistics

patient_df.describe()

In [ ]:
# Import - other 
# SciPy             https://www.scipy.org
# Scikit-learn      http://scikit-learn.org/
# Selenium          https://pypi.python.org/pypi/selenium
# Beautiful Soup    https://pypi.python.org/pypi/beautifulsoup4